@font-face {
    font-family: 'dalekpinpoint';
    src:
        url(./dalekpinpointbold-webfont.woff2) format(woff2),
        url(./dalekpinpointbold-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url(./romanica-webfont.woff2) format(woff2),
        url(./romanica-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

section:last-of-type > div {
    padding: 2rem 3rem;
}

section:first-of-type > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 40%);
    margin-top: 10rem;
}

div:nth-child(2) {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font: 4rem 'dalekpinpoint';
    color: #ffffff;
    margin: 0.2em 0;
}

img {
    height: 6rem;
    margin-right: 10px;
}

p {
    font: 1.3rem 'romanica';
}

form {
    display: flex;
}

form > div > p {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 0;
}

form > div:last-of-type {
    margin-left: 4em;
}

input {
    appearance: none;
    padding: 0 5px;
    margin-left: 5px;
    width: 250px;
    height: 2rem;
    
    outline: none;
    font: 1.1rem 'romanica';
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
}

input:focus, input:invalid {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    background: hsl(0, 0%, 99%);
}

input:focus {
    border-color: hsl(211, 100%, 50%);
}

input:invalid {
    border-color: hsl(354, 70%, 54%);
}

button {
    padding: 10px 40px;
    font: bold 1em 'romanica';
    letter-spacing: .03rem;
    border-radius: 9px;
    border: hsl(10, 70%, 50%);
    background-color: hsl(10, 70%, 62%);
    cursor: pointer;
}

a {
    color: hsl(10, 70%, 62%);
    text-decoration: none;
    font-weight: bold;
}

.header {
    background: url(./thinker.png) no-repeat;
    flex: 2;
}

.form-area {
    align-content: center;
    flex: 3;
    background-color: hsl(60, 54%, 98%)
}

.form-div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}